<title>Edit cart</title>

<h1>Editing Cart</h1>

<%= render 'form', cart: @cart %>

<div class="links"><%= link_to 'Show', @cart , class:"col btn btn btn-info"%> </div> 
<div class="links"><%= link_to 'Back', carts_path, class:"col btn btn btn-primary" %></div>
