/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


// There styles dont work?
// body {
//     margin: 0;
//     padding: 0;
// }

// header.main {
//     text-align: center; // center on mobile
//     @media (min-width:30em) {
//         text-align: left; // left align on desktop
//     }
//     background: #282;
//     margin: 0;
//     h1 {
//         display: none;
//     }
// }

// .content {
//     margin: 0;
//     padding: 0;
//     display: flex;
//     display: -webkit-flex;
//     flex-direction: column; // mobile is horizontally laid out
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
    
//     @media (min-width: 30em) {
//         flex-direction: row; // desktop is vertically laid out
//         -webkit-box-orient: horizontal;
//     }

//             nav {
//                 padding-bottom: 1em;
//                 background: #141;
//                 text-align: center; // mobile has centered nav
//                 @media (min-width: 30em) {
//                     text-align: left; // desktop nav is left-aligned
//                     padding: 1em;   // and needs more padding
//                 }
//                 ul {
//                     list-style: none;
//                     margin: 0;
//                     padding: 0;
//                     @media (min-width: 30em) {
//                         padding-right: 1em; // give desktop some extra space
//                     }
//                     li {
//                         margin: 0;
//                         padding: 0.5em;
//                         text-transform: uppercase;
//                         letter-spacing: 0.354em;
                    
//                     a {
//                         color: #bfb;
//                         text-decoration: none;
//                     }
//                     a:hover {
//                         background: none;
//                         color: white;
//                     }
//                 }
//             }
//         } // end of nav
        
//     main {
//         padding: 0.5em;
//     }
// }

body {
    background-color: rgba(250, 235, 215, 0.38);
}
// img {
//     height: 23em;
//      width: 20em;
// }

.svg {
    height: 9em;
    width: 5em;
    // display: inline;
}

#navSide{
    background-color: rgba(0, 255, 157, 0.432);
    // font-size: 2em;
}

#navTop {
    background-color: rgba(0, 68, 255, 0.432);
}

// #addedProductlink {
//     color: darkblue;
//     // &:hover {
//     //     color: aqua;
//     // }
// }
// a {
//     color:white;
//     font-weight: bold;
// }
a:hover{
    // color: blueviolet;
    text-decoration: none;
}

#navLink {
    color:rgb(73, 3, 73);
    text-align: center;
    font-weight: bold;

    &:hover{
        color:white;
    }
}

#customToggle {
    border-color: rgb(73, 3, 73);
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(73,2,73)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

#cart {
    font-size: 3em;
    padding-right:.2em;
    color: rgb(197, 228, 125);
}